{{>main/boilerplate}}

<body class="bg-light control">
    {{>main/header}}
    <div class="box-container">
        <div class="row my-0 fill-remaining">
            {{>dashboard/elements/sidenav}}
            <div class="row col py-4 mx-auto">
                <section class="container-fluid overflow-hidden">
                    {{{body}}}
                </section>
            </div>
        </div>
    </div>
    {{>main/footer}}
</body>