<div class="modal" id="new-goal-modal">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <h3 class="fw-bold text-secondary">Create a New Goal</h3>
        <form action="" id="new-goal-form" user-id="{{id}}"=>
            <div class="form-floating mb-3">
                <input type="text" class="goal-name" id="goal-title-input" placeholder="Enter your goal name here">
                <label for="goal-title-input">Goal Name</label>
            </div>
            <input type="date" name="due-date" id="due-date-input" class="form-control"
                placeholder="Provide an Achievement Date">
            <div class="form-floating">
                <textarea class="form-control" placeholder="Provide a description for your " id="goal-description-input"
                    style="height: 200px" spellcheck="true"></textarea>
                <label for="goal-description-input">Goal Description</label>
            </div>
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" value="" id="public-goal">
                <label class="form-check-label" for="public-goal">
                    Would you like this goal to be visible to other Goal Getters?
                </label>
            </div>
            <div class="d-flex justify-content-end mb-3">
                <button type="submit" class="btn btn-dark me-2 flex-grow-1">Create Goal!</button>
                <a href="/dashboard" type="button" class="link-unstyled mx-2 p-0 my-auto" data-bs-dismiss="modal"
                    aria-label="Close">Cancel</a>
            </div>
        </form>
    </div>
</div>