<div class="row g-4">
    
    {{>goalCard}}
    {{>goalCard}}
    {{>goalCard}}
    {{>goalCard}}
    {{>goalCard}}
    {{>goalCard}}
    {{>goalCard}}
    {{>goalCard}}
    {{>goalCard}}
    {{>goalCard}}
    {{>goalCard}}
    {{>goalCard}}
    {{>goalCard}}
    {{>goalCard}}
    {{>goalCard}}
    {{>goalCard}}
    {{>goalCard}}
    {{>goalCard}}
    {{>goalCard}}
    {{>goalCard}}
    {{>goalCard}}
    {{>goalCard}}
</div>