<div class="row my-0 fill-remaining">
    {{>dashboard/sidenav}}
    <div class="row col-lg-9 py-4 mx-auto">
        <section class="container-fluid overflow-hidden">
            <div class="row g-4">
                {{>goalCard}}
                {{>goalCard}}
                {{>goalCard}}
                {{>goalCard}}
                {{>goalCard}}
                {{>goalCard}}
                {{>goalCard}}
                {{>goalCard}}
            </div>
        </section>
    </div>
</div>


<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
    integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
{{!-- <section class="container overflow-hidden mt-4">
    <div class="row g-4">
        {{>milestoneCard}}
        {{>milestoneCard}}
        {{>milestoneCard}}
        {{>milestoneCard}}
        {{>milestoneCard}}
        {{>milestoneCard}}
    </div>
</section> --}}
<script src="assets/js/tooltips.js"></script>