<link rel="stylesheet" href="/assets/css/getStarted.css">
<section class="container-fluid px-0">
    <img src="/assets/images/hero-medal-lg.svg" alt="Medal Banner" class="w-100">
</section>
<article class="d-flex flex-column container fill-remaining justify-content-between">
    <div class="row mt-3 g-5">
        <div class="col-lg-6 col-md-12 order-lg-2">

        </div>
        <div class="col-lg-6 col-md-12  order-lg-1">
            <h2 class="text-primary">What is Goal Getter?</h2>
            <p>Goal Getter is an app designed to help you track and achieve your aspirations by breaking them down into goals and milestones, making it easier to progress step-by-step.</p>
        </div>
    </div>
    <div class="row mt-3 g-5">
        <div class="col-lg-6 col-md-12">
        </div>
        <div class="col-lg-6 col-md-12">
            <h2 class="text-primary">How can Goal Getter help me?</h2>
            <ol>
                <li>Track short-term and long-term achievements using goals and milestones.</li>
                <li>Accountability through due-dates.</li>
                <li>Work together with others and benefit from the power of positive social pressure.</li>
                <li>Provide a solid portfolio of achievements for yourself, or to show the world!</li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 offset-lg-3 col-md-12 order-last d-grid gap-2 mt-auto py-3">
            <button class="btn btn-dark align-middle get-started-btn" onclick="location.href='/signup'">Get Started Now!</button>
        </div>
    </div>
    </div>
</article>
