<aside class="col-lg-3 col-xl-auto py-4 px-5 bg-dark-light inset-shadow">
    <a href="#sideNav" class="text-secondary link-unstyled" data-bs-toggle="collapse" role="button">
        <div class="d-flex justify-content-between d-lg-none align-items-center">
            <h3 class="text-secondary fs-4 my-1">Dashboard</h3>
            <i class="fas fa-caret-down text-darkest-light fs-3"></i>
        </div>
    </a>
    <div class="collapse d-lg-block" id="sideNav">
        <hr class="d-lg-none">
        <a href="/dashboard" class="link-unstyled">
            <h4 class="text-secondary mt-3">My Goals</h4>
        </a>
        <a href="/dashboard/achievements" class="link-unstyled">
            <h4 class="text-secondary mt-3">Achievements</h4>
        </a>
        <a href="#collapseTeams" class="link-unstyled" data-bs-toggle="collapse" role="button">
            <h4 class="text-secondary mt-3">Teams</h4>
        </a>
        <div class="collapse" id="collapseTeams">
            <ul class="link-unstyled text-darker-light">
                <li>
                    <a href="/dashboard/team/{{team.id}}" class="link-unstyled">
                        <h6 class="text-darkest-light">Team Nasdfasdfasdfasdfasdfasdfasdfme</h6>
                    </a>
                </li>
            </ul>
            {{!-- {{#each teams as |team|}}
            <a href="/dashboard/team/{{team.id}}">
                <h6 class="darker-light">{{team.name}}</h6>
            </a>
            {{/each}} --}}
        </div>
    </div>
</aside>