// @import "bootstrap/scss/utilities/";

// Edit of color pallete
$primary: #FFC53A;
$secondary: #3A425D;
$success: #2FA71C;
$danger: #AA2525;
$dark: #3A3A3A;

$gray-600: #6c757d;

$component-active-bg: $secondary;

$input-btn-focus-width:1px;
$input-btn-focus-color-opacity:1;

// DON'T WRITE ANY CODE BELOW THE IMPORT LINE
@import "~bootstrap/scss/bootstrap";