
<div class="box-container">
    <section class="container-fluid px-0">
        <img src="/assets/images/hero-medal-lg.svg" alt="Medal Banner" class="w-100">
    </section>
    <article class="d-flex flex-column container fill-remaining justify-content-between">
        <div class="row mt-3 g-5">
            <div class="col-lg-6 col-md-12 order-lg-2">

            </div>
            <div class="col-lg-6 col-md-12  order-lg-1">
                <h1>In late summer of 2021,</h1>
                <p>4 colleagues with a passion for achieving great things, came together to build something great. 
                    They all wanted an easier way to keep track of their GOALS.
                    That was not the only thing they accomplished as they set their sights further.
                    Teams were then made so that progress could be shared and together people everywhere could combine their efforts to achieve higher goals!
                </p>
                <br>
                <h2>Achieve your Goals and be a GOAL-GETTER!</h2>
                <br>
                <h4> - Jake Pedigo, BoDee Angus, Jamie Vesterfelt, Easton Shaum - </h4>
        
            </div>
        </div>
        
    </article>
</div>