<div class="box-container">
    <section class="container-fluid px-0">
        <img src="/assets/images/hero-medal-lg.svg" alt="Medal Banner" class="w-100">
    </section>
    <article class="d-flex flex-column container fill-remaining justify-content-between">
        <div class="row align-items-center mt-3 g-5 padding-10">
            <div class="col-lg-3 col-md-6">
                <div class="card" style="width: 18rem;">
                    <img src="../../assets/images/image-jake.png" class="card-img-top" alt="Jake Pedigo">
                    <div class="card-body">
                        <h5 class="card-title">Jake Pedigo</h5>
                        <p class="card-text"></p>
                        <a href="https://github.com/jbped" class="btn btn-primary">Github</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="card" style="width: 18rem;">
                    <img src="../../assets/images/T01TZ686L57-U01UFEP1R97-d050b5d89884-512.jpeg" class="card-img-top" alt="BoDee Angus">
                    <div class="card-body">
                        <h5 class="card-title">BoDee Angus</h5>
                        <p class="card-text"></p>
                        <a href="https://github.com/NYX1122" class="btn btn-primary">Github</a>
                    </div>
                </div>
                  
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="card" style="width: 18rem;">
                    <img src="../../assets/images/jamie_400x400.jpg" class="card-img-top" alt="Jamie Vesterfelt">
                    <div class="card-body">
                        <h5 class="card-title">Jamie Vesterfelt</h5>
                        <p class="card-text"></p>
                        <a href="https://github.com/jvesterfelt" class="btn btn-primary">Github</a>
                    </div>
                </div>
                  
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="card" style="width: 18rem;">
                    <img src="../../assets/images/IMG_6110.jpeg" class="card-img-top width-400" alt="Easton Shaum">
                    {{!-- Need to fix this stupid image so its the same height --}}
                    <div class="card-body">
                        <h5 class="card-title">Easton Shaum</h5>
                        <p class="card-text"></p>
                        <a href="https://github.com/EastonShaum" class="btn btn-primary">Github</a>
                    </div>
                </div>
                  
            </div>
        </div>
        
    </article>
</div>